#Original Readme
originalReadme.md
#Homework example demo gif
02-advanced-css-homework-demo.gif
#Homework wireframe screenshot
hw2-wireframe-example.png
#Portfolio wireframe drawio
portfolio.drawio
#editable favicon png for paint
/assets/images/favicon.png