/* importing google font into stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto&display=swap');

/* setting global style variables, mainly font and background colors */
:root{
    --main-background:#F5F5F5;
    --header-background:#46494C;
    --main-font:#4C5C68;
    --main-border:#868689;
    --main-header:#DCDCDD;
    --work-background:#3E616E;
}

/* setting global attributes */
* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto', 'Cabin', sans-serif;
}

/* element selector styling */
body{
    background-color:var(--main-background);
}

p{
    padding:15px;
    color:var(--main-font)
}

h2 {
    color:var(--main-font);
}

h3{
    color:var(--main-header);
}

footer{
    text-align:center;
    padding:15px;
}

/* header and main nav bar styling */
header{
    display:flex;
    background-color:var(--header-background);
    width:100%;
    justify-content:space-between;
    align-items:center;
    padding:15px;
}

h1{
    color:var(--main-header);
    padding:5px;
}

nav ul{
    list-style-type:none;
    display:flex;
    padding: 10px;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

nav ul li{
    padding:10px;
    transition: all .5s ease-in-out;
}

nav ul li:hover{
    background-color:#7E8082;
    transform: scale(1.5);
    border-radius:3px;
}
 
nav a{
    text-decoration:none;
    color:var(--main-header);
    border-bottom:4px var(--main-header) solid;
    padding-bottom:5px;  
} 

/* banner image styling */
.banner{
    background-image:url("./images/background.jpg");
    background-size: cover;
    background-position: right 200px;
    background-repeat:no-repeat;
    background-clip: inherit;
    object-fit:cover;
    max-height:450px;
    height:450px;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    background-position: 0 0; 
    flex-wrap:wrap;
}

/* banner image subtitle styling */
.banner-subtitle p{
    color:var(--main-header);
    padding: 10px;
    background-color:var(--work-background);
    margin:75px;
    border-radius:25px;
    text-align:center;
    height:auto;
    width:auto;
    opacity:0;
    transition:all 1.5s ease-in-out;
}

.banner:hover .banner-subtitle p {
    opacity:1;
    transition:all 1.5s ease-in-out;
}

/* main body styliing */
main{
    margin-right:10%;
}

/* profile image styling */
#profile-image{
    width:100%;
    max-width:200px;
    min-width:50px;
    border-radius: 50%;
    border:3px var(--main-border) solid;
    object-fit: contain;
}

/* main-container flexbox contains the three main sections, About me, Work, Contact */
.main-container{
    margin:25px;
    display:flex;
}

/* main-header class styling the headings for the three main sections */
.main-header{
    display:flex;
    justify-content:flex-start;
    align-content:center;
    flex-direction:column;
    flex-wrap:wrap;
    margin:15px;
    padding:15px;
    flex:1 1 auto;
    gap:20px;
    border-right:6px var(--main-border) solid;
    text-align:center;
    width:33%;
}

/* main-body class styling for the main content for two of the three main sections */
.main-body{
    display:flex;
    flex-wrap:wrap;
    width:67%;   
    flex:1 0 auto; 
    align-items:center;
}

/* main-body-work class styling for the work section with project examples */
.main-body-work{
    display:flex;
    flex-wrap:wrap;
    width:67%;
    align-content:flex-start;
    flex:1 0 auto;
}
.main-body-work a{
    height:200px;
    justify-content:center;
    text-decoration:none;  
}

/* project class styling for the example projects in the work section */
.project {
  flex-grow:1;
  text-align: center;
  max-width:50%;
  width:33%;
  margin:15px;
  background-size:cover;
  background-repeat:no-repeat;
  background-clip: inherit;
  background-position: 50% 50%;
  border: 3px var(--main-border) solid;
  display:flex;
  flex-direction:row;
  opacity:.75;
  transition:all .5s ease-in-out;
}

.project:hover {
    opacity:1;
    transform: scale(1.1);
    border-radius:5px;
    transition:all .5s ease-in-out;
}

.project-label {
    flex:0 0 auto;
    align-self:flex-end;
    margin-right:auto;
    margin-bottom:5%;
    opacity:1;
    background-color:var(--work-background);
    border:3px var(--main-border) solid;
    border-left:0px;
    padding:5px;
    font-size:12px;
}

.project div p{
    color:var(--main-header);
    padding:0px;
}

.project header {
  padding: 20px;
  background: #13293d;
  color: var(--main-header);
}

.project img {
  width: 100%;
  min-width: 400px;
}

/* project id styling, project1 id styling overrides default project class flexbox size to make the project1 example larger than the other projects */
#project1{
    flex-grow:2;
    flex-basis:100%;    
    background-image:url(./images/eclipse.jpg);
    height:400px;
    max-height:500px;
    max-width:100%;
}

#project2{
    background-image:url(./images/dice.jpg);
}

#project3{
    background-image:url(./images/calculator.jpg);
}

#project4{
    background-image:url(./images/notebuddy.jpg);
}

#project5{
    background-image:url(./images/generator.jpg);
}

/* contact id styling for the unordered list items in contact section */
#contact ul{
    list-style-type:none;
    display:flex;
    padding: 10px;
    justify-content:space-evenly;
    flex-wrap:wrap;
    width:100%;
    align-content: center;
}

#contact ul li{
    padding:10px;
    color:var(--main-font);
    transition:all .5s ease-in-out;
}

#contact ul li:hover{
    transition:all .5s ease-in-out;
    transform:scale(1.5)
}

#contact a{
    text-decoration:none;
    color:var(--main-font);  
} 

/* Media query to change site layout to be optimized for mobile devices */
/* iphone X resolution 375px by 812px /// ipad 768px by 1024px */
@media screen and (max-width:768px) {

    .main{
        margin-right:0px;
    }

    h1{
        align-self:flex-start;
    }

    nav ul{
        flex-direction:column;
        justify-content:space-around;
        text-align:right;
    }

    .banner-subtitle p{
        opacity:1;
    }

    .project{
        opacity:1;
    }

}

/* media query adjusts layout to be optimized for screens 678 pixels and lower, including mobile devices */
@media screen and (max-width:678px) {

    .main{
        margin-right:0px;
    }

    header{
        flex-direction:column;
    }

    h1{
        width:100%;
        text-align:center;
    }

    nav ul{
        flex-direction:row;
        justify-content:space-around;
        width:100%;
    }

    /* hover effect overridden for mobile sized screens since mobile devices do not support hover effects */
    nav ul li:hover{
        background-color:var(--header-background);
        transform: scale(1);

    }

    .banner-subtitle p{
        opacity:1;
    }

    .main-container{
        background-color: var(--main-background);
        margin: 0px;
        display: flex;
        flex-direction: column;
    }

    .main-header{
        width: auto;
        flex-direction:column-reverse;
        border-right:0px;
        border-bottom:6px var(--main-border) solid;;
    }

    .main-body{
        width:auto;
    }

    .main-body-work{
        width:auto;
        padding:5px;
    }

    aside{
        width:100%;
    }
    
    .project{
        opacity:1;
        margin:5px;
    }

    /* hover effect overridden for mobile sized screens since mobile devices do not support hover effects */
    .project:hover {
        transform: scale(1);
        border-radius:1px;
    }

    #project1{
        height:200px;
    }

    /* hover effect overridden for mobile sized screens since mobile devices do not support hover effects */
    #contact ul li:hover{
        transform:scale(1)
    }
}
