* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{

}


.header{
    display:flex;
    background-color:grey;
    width:100%;
    justify-content:space-between;
    padding:1em;
}

.header h1{
    color:black;
}

.nav{
    flex-grow:2;
}

.nav ul{
    list-style-type:none;
    display:flex;
    padding: 5px;
    margin:10px;
    justify-content:space-evenly;
    flex-wrap:wrap;

}

.nav ul li{
    padding:10px;

}

.name{
    padding:5px;
    flex-grow:1;
}

/* banner image */
.banner{
    background-image:url("/assets/background.jpg");
    background-size: cover;
    background-position: right 200px;
    background-repeat:no-repeat;
    background-clip: inherit;
    object-fit:cover;
    max-height:450px;
    height:450px;
    display:flex;
    justify-content:right;
    align-items:flex-end;
    background-position: 0 -50px; 
}


/* try to keep the image fixed to one side pref top */

.banner-subtitle{
    color:azure;
    padding:25px;
    justify-content:right;
    background-color:lightblue;
    height:15%;
    margin:75px;
}